.searchBar-3TnChZ {
    padding: 0;
    box-shadow: none;
    width: 72px;
    height: 48px;
    margin-bottom: 8px;
    max-height: unset;
    display: flex;
    justify-content: center;
    position: absolute;
    left: -72px;
    top: 60px;
}
.searchBar-3TnChZ > .searchBarComponent-3N7dCG {
    border-radius: 50px;
    height: 48px;
    width: 48px;
    background-color: var(--background-primary);
    color: var(--text-normal);
    transition: background-color .15s ease-out,color .15s ease-out, border-radius .15s ease;
    font-size: 0;
    line-height: 0;
}
.searchBar-3TnChZ > .searchBarComponent-3N7dCG:hover {
    border-radius: 16px;
    color: var(--white-500);
    background-color: var(--brand-experiment);
}
.searchBar-3TnChZ > .searchBarComponent-3N7dCG::before {
    content: "";
    clip-path: path("M21.707 20.293L16.314 14.9C17.403 13.504 18 11.799 18 10C18 7.863 17.167 5.854 15.656 4.344C14.146 2.832 12.137 2 10 2C7.863 2 5.854 2.832 4.344 4.344C2.833 5.854 2 7.863 2 10C2 12.137 2.833 14.146 4.344 15.656C5.854 17.168 7.863 18 10 18C11.799 18 13.504 17.404 14.9 16.314L20.293 21.706L21.707 20.293ZM10 16C8.397 16 6.891 15.376 5.758 14.243C4.624 13.11 4 11.603 4 10C4 8.398 4.624 6.891 5.758 5.758C6.891 4.624 8.397 4 10 4C11.603 4 13.109 4.624 14.242 5.758C15.376 6.891 16 8.398 16 10C16 11.603 15.376 13.11 14.242 14.243C13.109 15.376 11.603 16 10 16Z");
    height: 24px;
    width: 24px;
    display: flex;
    background-color: var(--white-500);
    margin: 0 auto;
}
.container-1eFtFS:has(.searchBar-3TnChZ) .tutorialContainer-1pL9QS .listItem-3SmSlK:first-child {
    margin-bottom: calc(56px + 8px) !important;
}
.sidebar-1tnWFu,
.privateChannels-oVe7HL,
.content-1SgpWY,
.base-2jDfDU {
    overflow: visible !important;
}
.sidebar-1tnWFu,
.privateChannels-oVe7HL,
.sidebar-1tnWFu .scroller-WSmht3,
.header-3OsQeK,
.container-1-ERn5,
.container-1NXEtd {
    border-top-left-radius: 8px;
}
