[aria-label="Boost this server"] {display: none;}


.guilds-2JjMmN .tree-3agP2X:focus {
  outline-color: transparent;
}
.guilds-2JjMmN .scroller-3X7KbA {
  contain: unset;
  margin-top: 56px;
}
.guilds-2JjMmN .scroller-3X7KbA .tutorialContainer-1pL9QS {
  position: fixed;
  transform: translatey( -100% );
}
